*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #222629;
}

.Timer_div{
    width: 180px;
    height: 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 20% 50%;
}

.Study_Timer{
    color: white;

    margin-top: 5px;

    grid-column-start: 1;
    grid-column-end: 2;
}

.Study_Timer_sec{
    color: white;

    margin-left: 15px;

    grid-column-start: 1;
    grid-column-end: 3;
}

.button_start{
    grid-column-start: 1;
    grid-column-end: 3;

    height: 30px;
    width: 60px;

    border-radius: 10px;
}

.button_finish{
    display: none;

    height: 30px;
    width: 60px;

    border-radius: 10px;
}

.TimeOut{
    display: none;
    background-color: transparent;

    grid-column-start: 2;
    grid-column-end: 3;

    height: 14px;
    width: 14px;
    margin-top: 10px;
    margin-left: 4px;

    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-top-color: #61892F;
    border-radius: 90px;

    animation-duration: 1.5s;
    animation-play-state: paused;
    animation-iteration-count: infinite;
}

.Reset_button{
    position: absolute;
    right: 10px;
    top: 10px;
    visibility: hidden;
}


@keyframes TimeOut_Animation{
    from{
        rotate: 0deg;
    }to{
        rotate: 360deg;
    }
}