*{
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
  height: 100%;
}

body{
    background-color: #474B4F;
    overflow-x: hidden;

    height: 100%;
}


                 /* * KeyFrame Animation * */

@keyframes Meteor_Animation{
  from{
    left: -50px;
  }to{
    left: 100%;
  }
}