*{
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: hidden;
}

html{
  width: 100%;
  height: 100%;
}

body{
    background-color: #474B4F;
    overflow-x: hidden;

    height: 100%;
}

a{
  text-decoration: none;
}

.model{
  width: 200px;
  height: 200px;
}

canvas{
  background-color: #474B4F;
}


                 /* * KeyFrame Animation * */

@keyframes Meteor_Animation{
  from{
    left: -50px;
  }to{
    left: 100%;
  }
}