*{
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
  height: 100%;
}

body{
    background-color: #474B4F;
    overflow-x: hidden;

    height: 100%;

    display: grid;
    grid-template-columns: 40% 20% 40%;
    grid-template-rows: 40% 20% 40%;
}

.Start_Button{
    background-color: transparent;
    color: #fcfcfc;

    height: 40px;
    width: 100px;

    border-radius: 12px;
    border-color: rgb(0, 0, 0);
    border-style: dashed;
}

.Start_Button_div{
  display: flex;
  justify-content: center;
  align-items: center;

  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.Start_Button:hover{
  cursor: pointer;
}




                 /* * KeyFrame Animation * */

@keyframes Meteor_Animation{
  from{
    left: -50px;
  }to{
    left: 100%;
  }
}