body{
    margin: 0;
    padding: 0;
    background-color: #474B4F;
    max-width: 100%;
    overflow: hidden
}

.Start_Button{
    position: absolute;
    background-color: transparent;
    color: #fcfcfc;
    height: 40px;
    width: 100px;
    top: 50%;
    left: 41.5%;
    border-radius: 12px;
    border-color: rgb(0, 0, 0);
    border-style: dashed;
    animation-duration: 1s;
    animation-direction: alternate;
    animation-fill-mode: forwards;
}

img{
  position: absolute;
  top: 52%;
  left: 46%;
}

.Start_Button:hover{
  cursor: pointer;
}


                 /* * KeyFrame Animation * */

@keyframes Meteor_Animation{
  from{
    left: 0%;
  }to{
    left: 110%;
  }
}

@keyframes Start_Button_Animation{
  from{
    opacity: 100%;
  }to{
    opacity: 0%;
  }
}