body{
    margin: 0;
    padding: 0;
    background-color: #474B4F;
    overflow: hidden;
}

.text_550px{
    visibility: hidden;
}

.text_0{
    position: absolute;
    color: #61892F;
    right: 4%;
    top: 25%;
    font-size: 22px;
    font-family: "Sixtyfour", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "BLED" 0,
    "SCAN" 0;
}

.Costomize_Photo{
    position: absolute;
    width: 300px;
    height: 300px;
    right: 10%;
    top: 40%;
}

.Square{
    background-color: #222629;
    position: absolute;
    width: 100%;
    height: 150%;
    rotate: 0deg;
    left: 50%;
    top: 0%;
}


.text_1{
    position: absolute;
    color: #86C232;
    left: 5%;
    top: 25%;
    width: 300px;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
}

.text_2{
    position: absolute;
    color: #86C232;
    left: 5%;
    top: 48%;
    width: 300px;
    visibility: hidden;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
}

.Accept_Button{
    position: absolute;
    height: 40px;
    width: 80px;
    padding: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 7%;
    top: 57%;
}

.Not_Accept_Button{
    position: absolute;
    height: 40px;
    width: 80px;
    padding: 8px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 7%;
    top: 47%;
}

.Accept_Button_2{
    position: absolute;
    height: 40px;
    width: 80px;
    padding: 8px;
    border-radius: 10px;
    visibility: hidden;
    left: 4.5%;
    top: 61%;
}

.Packs{
    visibility: hidden;
}

.cercle_1{
    background-color: #d1d1d1;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    left: 10.5%;
    top: 35%;
}

.cercle_2{
    background-color: #3d5b83;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    left: 12.5%;
    top: 35%;
}

.cercle_3{
    background-color: #2f4053;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    left: 11.5%;
    top: 37.5%;
}

.cercle_4{
    background-color: #292525;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    left: 17.5%;
    top: 35%;
}

.cercle_5{
    background-color: #157968;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    left: 19.5%;
    top: 35%;
}

.cercle_6{
    background-color: #afafaf;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    left: 18.5%;
    top: 37.5%;
}

.cercle_7{
    background-color: #3e2d53;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    left: 24.5%;
    top: 35%;
}

.cercle_8{
    background-color: #01272c;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    left: 26.5%;
    top: 35%;
}

.cercle_9{
    background-color: #afafaf;
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 90px;
    left: 25.5%;
    top: 37.5%;
}

.Pack_1{
    position: absolute;
    height: 62px;
    width: 62px;
    background-color: transparent;
    left: 10.2%;
    top: 33%;
    border-radius: 90px;

    border-style: solid;
    border-width: 0.8px;
    border-right-color: #d1d1d1;
    border-left-color: #d1d1d1;
    border-top-color: #3d5b83;
    border-bottom-color: #2f4053;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.Pack_2{
    position: absolute;
    height: 58px;
    width: 58px;
    background-color: transparent;
    left: 17.2%;
    top: 33%;
    border-radius: 90px;

    border-style: solid;
    border-width: 0.8px;
    border-right-color: #292525;
    border-left-color: #292525;
    border-top-color: #157968;
    border-bottom-color: #afafaf;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.Pack_3{
    position: absolute;
    height: 58px;
    width: 58px;
    background-color: transparent;
    left: 24.2%;
    top: 33%;
    border-radius: 90px;
    
    border-style: solid;
    border-width: 0.8px;
    border-right-color: #3e2d53;
    border-left-color: #3e2d53;
    border-top-color: #01272c;
    border-bottom-color: #afafaf;

    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-play-state: paused;
}

.Pack_1:hover{
    cursor: pointer;
}

.Pack_2:hover{
    cursor: pointer;
}

.Pack_3:hover{
    cursor: pointer;
}

.First_Color_Input{
    position: absolute;
    visibility: hidden;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 5px;
    left: 12%;
    top: 40%;
}

.First_Color_Label{
    position: absolute;
    visibility: hidden;
    left: 12%;
    top: 37%;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
}

.Second_Color_Input{
    position: absolute;
    visibility: hidden;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 5px;
    left: 12%;
    top: 52%;
}

.Second_Color_Label{
    position: absolute;
    visibility: hidden;
    left: 12%;
    top: 49%;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
}

.Text_Color_Input{
    position: absolute;
    visibility: hidden;
    height: 40px;
    width: 40px;
    padding: 0;
    border-radius: 5px;
    left: 12%;
    top: 62%;
}

.Text_Color_Label{
    position: absolute;
    visibility: hidden;
    left: 12%;
    top: 59%;
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
}

.Start_Button{
    position: absolute;
    height: 40px;
    width: 80px;
    padding: 8px;
    border-radius: 10px;
    visibility: hidden;
    left: 11.8%;
    top: 73%;
}

@keyframes Pack_Animation {
    from{
        rotate: 0deg;
    }to{
        rotate: 360deg;
    }
}